@import "tailwindcss";
/* Hide scrollbar but allow scroll */
body {
   font-family: "Noto Sans", sans-serif;
  overflow-y: scroll;               /* Still scrollable */
  -ms-overflow-style: none;         /* IE and Edge */
  scrollbar-width: none;            /* Firefox */
}

body::-webkit-scrollbar {
  display: none;                    /* Chrome, Safari, Opera */
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
